[submodule "ai"]
	path = ai
	url = https://github.com/daggerstuff/ai.git
	branch = staging
[submodule "foresight"]
	path = foresight
	url = https://github.com/daggerstuff/foresight.git
	branch = master
[submodule "docs"]
	path = docs
	url = https://github.com/daggerstuff/docs.git
	branch = master
