onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=aws-sdk
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=koffi
onlyBuiltDependencies[]=postinstall-postinstall
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=unrs-resolver
