[Unit]
Description=Run backup-home-vivi service twice daily

[Timer]
OnCalendar=*-*-* 00:00:00
OnCalendar=*-*-* 12:00:00
Persistent=true
RandomizedDelaySec=300
Unit=backup-home-vivi.service

[Install]
WantedBy=timers.target
