openapi: 3.1.0
info:
  title: Pixelated Empathy API
  description: |
    The Pixelated Empathy API provides programmatic access to the platform's core features,
    including user profiles, mental health analytics, bias detection, and memory management.

    ### Authentication (Dual Mode)

    Most endpoints require authentication using either a **JWT (Bearer Token)** or an **API Key**.
    - For browser-based applications, use the JWT provided by Auth0.
    - For server-side integrations, use an API Key in the `X-API-Key` header.

    Three authentication strategies are available:
    | Strategy | Use Case | Header |
    |---|---|---|
    | `jwtOnly` | Browser sessions, user-facing requests | `Authorization: Bearer <token>` |
    | `apiKeyOnly` | Server-to-server, background jobs | `X-API-Key: <key>` |
    | `either` | Any authenticated caller | Both accepted |

    ### Scope-Based Access Control

    API keys are bound to **scopes** that control which endpoints they can access:

    | Scope | Access |
    |---|---|
    | `read` | GET on API resources |
    | `write` | POST, PUT, PATCH on API resources |
    | `admin` | Administrative endpoints |
    | `memory:read` | Memory read operations |
    | `memory:write` | Memory write operations |
    | `developer:manage` | API key management |
    | `analytics:read` | Analytics and reporting |

    Routes are organised into **families** that define default authentication and scope behaviour:
    `public`, `user`, `developer`, `admin`, `system`.
  version: '1.0.0'
  contact:
    name: Pixelated API Support
    email: api-support@pixelatedempathy.com
    url: https://pixelatedempathy.com/support
servers:
  - url: 'https://api.pixelatedempathy.com'
    description: Production API server
  - url: 'https://staging-api.pixelatedempathy.com'
    description: Staging API server
security:
  - ApiKeyAuth: []
  - BearerAuth: []
paths:
  /health:
    get:
      summary: API Health Check
      description: Check the current status and health of the API services.
      tags: [System]
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }
        '503':
          description: System is unhealthy or degraded
  /version:
    get:
      summary: API Version
      description: Get the current API version and build information.
      tags: [System]
      responses:
        '200':
          description: Version information
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VersionInfo' }
  /api/auth/login:
    get:
      summary: Initiate Auth0 Login
      description: |
        Redirects the browser to Auth0's hosted login page. After successful
        authentication Auth0 redirects back to `/api/auth/callback`.
      operationId: authLogin
      tags: [Authentication]
      responses:
        '302':
          description: Redirect to Auth0 Universal Login page
        '500':
          description: Auth0 configuration missing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/auth/callback:
    get:
      summary: Auth0 OAuth Callback
      description: |
        OAuth 2.0 authorization-code exchange. Exchanges the `code` query
        param for Auth0 tokens, resolves the Auth0 `sub` to an internal
        platform UUID via `resolveIdentity()`, and returns tokens + UUID.
      operationId: authCallback
      tags: [Authentication]
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
          description: Authorization code from Auth0 redirect
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  userId:
                    {
                      type: string,
                      format: uuid,
                      description: Internal platform UUID,
                    }
                  isNewUser: { type: boolean }
                  accessToken: { type: string }
                  refreshToken: { type: string, nullable: true }
                  tokenType: { type: string, example: Bearer }
                  expiresIn: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '502':
          description: Token exchange or userinfo request failed
  /api/auth/logout:
    post:
      summary: Log Out
      description: |
        Returns the Auth0 logout URL. The client must redirect the browser
        to this URL to terminate the Auth0 session.
      operationId: authLogout
      tags: [Authentication]
      requestBody:
        content:
          application/json: { schema: { type: object } }
      responses:
        '200':
          description: Logout URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  logoutUrl: { type: string, format: uri }
        '500':
          description: Auth0 configuration missing
  /api/auth/me:
    get:
      summary: Get Current User
      description: |
        Returns the authenticated user's profile from the current session.
        The `id` field is the **internal platform UUID**, never the Auth0 `sub`.
        Requires a valid JWT or API key.
      operationId: authMe
      tags: [Authentication]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  user:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      email: { type: string, format: email }
                      name: { type: string }
                      picture: { type: string, format: uri }
                      emailVerified: { type: boolean }
                      role: { type: string }
                      roles: { type: array, items: { type: string } }
                      permissions: { type: array, items: { type: string } }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/auth/refresh:
    post:
      summary: Refresh Access Token
      description: |
        Exchanges a valid Auth0 refresh token for a new access token.
        The sub→UUID mapping is already cached, so no re-resolution occurs.
      operationId: authRefresh
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  description: Auth0 refresh token obtained during login
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  accessToken: { type: string }
                  refreshToken: { type: string, nullable: true }
                  tokenType: { type: string, example: Bearer }
                  expiresIn: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /search:
    get:
      summary: Search Content
      description:
        Search across blog posts, documentation, and research articles.
      operationId: searchContent
      tags: [Content]
      parameters:
        - name: q
          in: query
          description: Search query string
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Search results returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/SearchResult' }
  /profile:
    get:
      summary: Get User Profile
      description: Retrieve the authenticated user's profile information.
      operationId: getProfile
      tags: [User]
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile: { $ref: '#/components/schemas/UserProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Profile not found }
    put:
      summary: Update User Profile
      description: Update the authenticated user's profile metadata.
      operationId: updateProfile
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserProfileUpdate' }
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile: { $ref: '#/components/schemas/UserProfile' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /preferences:
    get:
      summary: Get User Preferences
      description: Retrieve the authenticated user's preferences.
      operationId: getPreferences
      tags: [User]
      responses:
        '200':
          description: Preferences retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences: { $ref: '#/components/schemas/UserPreferences' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Update User Preferences
      description: Update the authenticated user's preferences.
      operationId: updatePreferences
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserPreferencesUpdate' }
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences: { $ref: '#/components/schemas/UserPreferences' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/bias-analysis/analyze:
    post:
      summary: Analyze Bias
      description: Perform bias analysis on clinical text.
      operationId: analyzeBias
      tags: [Bias Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BiasAnalysisRequest' }
      responses:
        '200':
          description: Bias analysis completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BiasAnalysisResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/memory:
    get:
      summary: List Memories
      description:
        List all memories for the authenticated user with optional filtering and
        pagination.
      operationId: listMemories
      tags: [Memory]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
        - name: userId
          in: query
          schema: { type: string }
        - name: category
          in: query
          schema: { type: string }
        - name: tag
          in: query
          style: form
          explode: false
          schema: { type: array, items: { type: string } }
      responses:
        '200':
          description: Memories listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  memories:
                    type: array
                    items: { $ref: '#/components/schemas/ProductMemoryRecord' }
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        example: 10
                      offset:
                        type: integer
                        example: 0
                      total:
                        type: integer
                        example: 42
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      summary: Create Memory
      description: Create a new memory.
      operationId: createMemory
      tags: [Memory]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  example:
                    'Today I practiced deep breathing exercises and felt calmer.'
                metadata:
                  type: object
                  example:
                    category: 'therapy-session'
                    tags: ['breathing', 'anxiety']
      responses:
        '201':
          description: Memory created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  memory_id:
                    type: string
                    format: uuid
                    example: '550e8400-e29b-41d4-a716-446655440000'
                  memory:
                    $ref: '#/components/schemas/ProductMemoryRecord'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/memory/search:
    get:
      summary: Search Memories
      description: Search memories by query string.
      operationId: searchMemoriesGet
      tags: [Memory]
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
        - name: userId
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  memories:
                    type: array
                    items: { $ref: '#/components/schemas/ProductMemoryRecord' }
                  query:
                    type: string
                    example: 'anxiety coping strategies'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        example: 10
                      offset:
                        type: integer
                        example: 0
                      total:
                        type: integer
                        example: 5
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      role:
                        type: string
                        example: 'therapist'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      summary: Search Memories (POST)
      description: Search memories using request body for complex queries.
      operationId: searchMemoriesPost
      tags: [Memory]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  example: 'anxiety coping strategies'
                limit:
                  type: integer
                  default: 10
                  maximum: 100
                offset:
                  type: integer
                  default: 0
                userId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  memories:
                    type: array
                    items: { $ref: '#/components/schemas/ProductMemoryRecord' }
                  query:
                    type: string
                    example: 'anxiety coping strategies'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        example: 10
                      offset:
                        type: integer
                        example: 0
                      total:
                        type: integer
                        example: 5
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      role:
                        type: string
                        example: 'therapist'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/memory/{memoryId}:
    get:
      summary: Get Memory
      description: Get a specific memory by ID.
      operationId: getMemory
      tags: [Memory]
      parameters:
        - name: memoryId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Memory retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  memory:
                    $ref: '#/components/schemas/ProductMemoryRecord'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      summary: Update Memory
      description: Update an existing memory.
      operationId: updateMemory
      tags: [Memory]
      parameters:
        - name: memoryId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  example:
                    'Today I practiced deep breathing exercises and felt calmer.'
                metadata:
                  type: object
                  example:
                    category: 'therapy-session'
                    tags: ['breathing', 'anxiety']
      responses:
        '200':
          description: Memory updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  memory:
                    $ref: '#/components/schemas/ProductMemoryRecord'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      summary: Delete Memory
      description: Delete a memory by ID.
      operationId: deleteMemory
      tags: [Memory]
      parameters:
        - name: memoryId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Memory deleted successfully
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/memory/stats:
    get:
      summary: Get Memory Statistics (LEGACY)
      description: |
        **Legacy endpoint** — not part of the v1 public contract. Will be
        deprecated once the v1 memory surface stabilises. See
        `docs/api/memory-v1-contract.md`.
      operationId: getMemoryStats
      tags: [Memory]
      responses:
        '200':
          description: Memory statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  stats:
                    type: object
                    properties:
                      totalMemories:
                        type: integer
                        example: 127
                      categoryCounts:
                        type: object
                        additionalProperties:
                          type: integer
                        example:
                          therapy-session: 42
                          daily-reflection: 38
                          breakthrough: 18
                          insight: 16
                          challenge: 13
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/memory:
    get:
      summary: List memories (v1)
      description: |
        Canonical v1 public memory API. Returns only the fields the public
        contract promises — see `docs/api/memory-v1-contract.md` and
        `src/lib/memory/contract/v1.ts`.

        Identity (`userId`, `accountId`, `workspaceId`, `tenantId`) is
        resolved server-side from the caller's session; it is NEVER
        accepted as a query parameter.
      operationId: v1ListMemories
      tags: [Memory v1]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: category
          in: query
          schema: { type: string }
        - name: tags
          in: query
          description: Repeatable. Filter by tag (logical AND).
          schema:
            type: array
            items: { type: string }
          style: form
          explode: true
      responses:
        '200':
          description: Memories listed successfully
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1ListMemoriesResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
    post:
      summary: Create a memory (v1)
      description: |
        Canonical v1 public memory API. Identity fields are derived from
        the caller's session and are rejected if supplied. Strict
        validation — unknown fields return 400.
      operationId: v1CreateMemory
      tags: [Memory v1]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/V1CreateMemoryRequest' }
      responses:
        '201':
          description: Memory created
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1CreateMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
  /api/v1/memory/{memoryId}:
    parameters:
      - name: memoryId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get a memory by id (v1)
      operationId: v1GetMemory
      tags: [Memory v1]
      responses:
        '200':
          description: Memory retrieved
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1GetMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '404': { $ref: '#/components/responses/V1NotFound' }
    patch:
      summary: Update a memory (v1)
      description: Full content replacement with optional metadata.
      operationId: v1UpdateMemory
      tags: [Memory v1]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/V1UpdateMemoryRequest' }
      responses:
        '200':
          description: Memory updated
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1UpdateMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '404': { $ref: '#/components/responses/V1NotFound' }
    delete:
      summary: Delete a memory (v1)
      operationId: v1DeleteMemory
      tags: [Memory v1]
      responses:
        '200':
          description: Memory deleted
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1DeleteMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '404': { $ref: '#/components/responses/V1NotFound' }
  /api/v1/memory/search:
    get:
      summary: Search memories (v1, query string)
      operationId: v1SearchMemoriesGet
      tags: [Memory v1]
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 1, maxLength: 1000 }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
      responses:
        '200':
          description: Search results
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1SearchMemoriesResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
    post:
      summary: Search memories (v1, JSON body)
      operationId: v1SearchMemoriesPost
      tags: [Memory v1]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/V1SearchMemoryRequest' }
      responses:
        '200':
          description: Search results
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1SearchMemoriesResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
  /api/developer/api-keys:
    get:
      summary: List API Keys
      description: List all API keys for the authenticated user.
      operationId: listApiKeys
      tags: [Developer API Keys]
      responses:
        '200':
          description: API keys listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      summary: Create API Key
      description: Create a new API key.
      operationId: createApiKey
      tags: [Developer API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateApiKeyRequest' }
      responses:
        '200':
          description: API key created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateApiKeyResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/developer/api-keys/{keyId}:
    delete:
      summary: Revoke API Key
      description: Revoke an existing API key.
      operationId: revokeApiKey
      tags: [Developer API Keys]
      parameters:
        - name: keyId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: API key revoked }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Rotate API Key
      description: |
        Revokes the existing API key and issues a new one in a single
        atomic transaction. The new key inherits all scopes and settings
        from the old key. Returns the new `plain_key` exactly once.
      operationId: rotateApiKey
      tags: [Developer API Keys]
      parameters:
        - name: keyId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: API key rotated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  key:
                    type: object
                    properties:
                      id: { type: string }
                      plain_key:
                        {
                          type: string,
                          description: 'New key value — shown only once',
                        }
                      name: { type: string }
                      created: { type: string, format: date-time }
                      expires:
                        { type: string, format: date-time, nullable: true }
                      scopes: { type: array, items: { type: string } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/developer/memory:
    get:
      summary: List memories (Developer API)
      description: |
        Developer memory API — API key access. Returns only `PublicMemory`
        fields (no `emotionalContext` or `empathyMetrics`).

        Required scope: `memory:read`

        Identity is resolved server-side from the API key's `user_id`; it
        is NEVER accepted as a query parameter.
      operationId: devListMemories
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: category
          in: query
          schema: { type: string }
        - name: tags
          in: query
          description: Repeatable. Filter by tag (logical AND).
          schema:
            type: array
            items: { type: string }
          style: form
          explode: true
      responses:
        '200':
          description: Memories listed successfully
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1ListMemoriesResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a memory (Developer API)
      description: |
        Developer memory API — API key access. Identity fields are derived
        from the API key's `user_id` and are rejected if supplied. Strict
        validation — unknown fields return 400.

        Required scope: `memory:write`
      operationId: devCreateMemory
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/V1CreateMemoryRequest' }
      responses:
        '201':
          description: Memory created
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1CreateMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/developer/memory/search:
    get:
      summary: Search memories (Developer API, query string)
      description: |
        Developer memory API — API key access.

        Required scope: `memory:read`
      operationId: devSearchMemoriesGet
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 1, maxLength: 1000 }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
      responses:
        '200':
          description: Search results
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1SearchMemoriesResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Search memories (Developer API, JSON body)
      description: |
        Developer memory API — API key access.

        Required scope: `memory:read`
      operationId: devSearchMemoriesPost
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/V1SearchMemoryRequest' }
      responses:
        '200':
          description: Search results
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1SearchMemoriesResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/developer/memory/{memoryId}:
    parameters:
      - name: memoryId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get a memory by id (Developer API)
      description: |
        Developer memory API — API key access.

        Required scope: `memory:read`
      operationId: devGetMemory
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Memory retrieved
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1GetMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/V1NotFound' }
    patch:
      summary: Update a memory (Developer API)
      description: |
        Developer memory API — API key access. Full content replacement with
        optional metadata.

        Required scope: `memory:write`
      operationId: devUpdateMemory
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/V1UpdateMemoryRequest' }
      responses:
        '200':
          description: Memory updated
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1UpdateMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/V1NotFound' }
    delete:
      summary: Delete a memory (Developer API)
      description: |
        Developer memory API — API key access.

        Required scope: `memory:write`
      operationId: devDeleteMemory
      tags: [Developer Memory]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Memory deleted
          headers:
            X-Memory-Contract-Version:
              schema: { type: string, example: '1.0.0' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/V1DeleteMemoryResponse' }
        '400': { $ref: '#/components/responses/V1BadRequest' }
        '401': { $ref: '#/components/responses/V1Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/V1NotFound' }
  /api/training/jobs:
    get:
      summary: List training jobs
      description: |
        List all fine-tuning jobs, optionally filtered by backend or status.
        Requires authentication (any role).
      operationId: listTrainingJobs
      tags: [Training]
      security:
        - BearerAuth: []
      parameters:
        - name: backend
          in: query
          description: Filter by backend type
          schema:
            type: string
            enum: [openai, huggingface, local, dry-run]
        - name: status
          in: query
          description: Filter by job status
          schema:
            type: string
            enum: [queued, running, succeeded, failed, cancelled]
      responses:
        '200':
          description: Jobs listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  jobs:
                    type: array
                    items: { $ref: '#/components/schemas/FineTuningJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      summary: Submit training job
      description: |
        Submit a new fine-tuning job. Requires admin or therapist role.
        Supports OpenAI, HuggingFace, Local, and Dry-run backends.
      operationId: submitTrainingJob
      tags: [Training]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitTrainingJobRequest' }
      responses:
        '201':
          description: Job submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  job: { $ref: '#/components/schemas/FineTuningJob' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/training/jobs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
        description: Job ID
    get:
      summary: Get training job
      description: Get a specific training job by ID. Requires authentication.
      operationId: getTrainingJob
      tags: [Training]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Job retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  job: { $ref: '#/components/schemas/FineTuningJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      summary: Cancel training job
      description:
        Cancel a running training job. Requires admin or therapist role.
      operationId: cancelTrainingJob
      tags: [Training]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Job cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  job: { $ref: '#/components/schemas/FineTuningJob' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/training/sessions:
    get:
      summary: List training sessions
      description: |
        List all training sessions, optionally filtered by status or trainee.
        Requires authentication (any role).
      operationId: listTrainingSessions
      tags: [Training]
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, ended]
        - name: traineeId
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Sessions listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  sessions:
                    type: array
                    items: { $ref: '#/components/schemas/TrainingSession' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      summary: Create training session
      description:
        Create a new training session. Requires admin or therapist role.
      operationId: createTrainingSession
      tags: [Training]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: '#/components/schemas/CreateTrainingSessionRequest' }
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  session: { $ref: '#/components/schemas/TrainingSession' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/training/sessions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
        description: Session ID
    get:
      summary: Get training session
      description:
        Get a specific training session by ID. Requires authentication.
      operationId: getTrainingSession
      tags: [Training]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  session: { $ref: '#/components/schemas/TrainingSession' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      summary: End training session
      description: End a training session. Requires admin or therapist role.
      operationId: endTrainingSession
      tags: [Training]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Session ended successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  session: { $ref: '#/components/schemas/TrainingSession' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /admin/users:
    get:
      summary: List Platform Users
      description: Retrieve a paginated list of users (Admin only).
      operationId: listUsers
      tags: [Admin]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: role
          in: query
          schema: { type: string }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AdminUserView' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Developer API Key for server-to-server calls.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 JWT for browser-based session authentication.
  schemas:
    HealthStatus:
      type: object
      properties:
        status: { type: string, enum: [healthy, degraded, unhealthy] }
        timestamp: { type: string, format: date-time }
        uptime: { type: number }
    VersionInfo:
      type: object
      properties:
        version: { type: string }
        build: { type: string }
        timestamp: { type: string, format: date-time }
    ProductMemoryRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        content:
          type: string
          example: 'Today I practiced deep breathing exercises and felt calmer.'
        metadata:
          type: object
          example:
            category: 'therapy-session'
            tags: ['breathing', 'anxiety']
            source: 'user-input'
        createdAt:
          type: string
          format: date-time
          example: '2023-01-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2023-01-01T12:30:00Z'
    SearchResult:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        excerpt: { type: string }
        url: { type: string }
        type: { type: string }
        score: { type: number }
    UserProfile:
      type: object
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        role: { type: string }
        avatarUrl: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        lastLogin: { type: string, format: date-time }
        userMetadata: { type: object }
        appMetadata: { type: object }
    UserProfileUpdate:
      type: object
      properties:
        fullName: { type: string }
        avatarUrl: { type: string }
        userMetadata: { type: object }
    UserPreferences:
      type: object
      properties:
        theme: { type: string, enum: [light, dark, system] }
        language: { type: string }
        timezone: { type: string }
        notifications:
          type: object
          properties:
            email: { type: boolean }
            push: { type: boolean }
    UserPreferencesUpdate:
      type: object
      properties:
        theme: { type: string }
        language: { type: string }
        timezone: { type: string }
        notifications:
          type: object
          properties:
            email: { type: boolean }
            push: { type: boolean }
    BiasAnalysisRequest:
      type: object
      required: [text]
      properties:
        text: { type: string }
        context: { type: string }
        therapistId: { type: string }
        sessionId: { type: string }
        clientId: { type: string }
        demographics: { type: object }
        sessionType: { type: string }
        therapistNotes: { type: string }
    BiasAnalysisResult:
      type: object
      properties:
        id: { type: string }
        biases:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              confidence: { type: number }
              evidence: { type: string }
              suggestion: { type: string }
        overallScore: { type: number }
        recommendations:
          type: array
          items: { type: string }
    MemoryTurn:
      type: object
      properties:
        id: { type: string }
        role: { type: string, enum: [user, assistant, system] }
        content: { type: string }
        timestamp: { type: string, format: date-time }
        metadata: { type: object }
    MemoryTurnCreate:
      type: object
      required: [role, content]
      properties:
        role: { type: string, enum: [user, assistant, system] }
        content: { type: string }
        metadata: { type: object }
    MemorySession:
      type: object
      properties:
        id: { type: string }
        turns:
          type: array
          items: { $ref: '#/components/schemas/MemoryTurn' }
        metadata: { type: object }
    ApiKey:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        created: { type: string, format: date-time }
        expires: { type: string, format: date-time }
        scopes:
          type: array
          items: { type: string }
    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        scopes:
          type: array
          items: { type: string }
    CreateApiKeyResponse:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        name: { type: string }
        created: { type: string, format: date-time }
    AdminUserView:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        role: { type: string }
        createdAt: { type: string, format: date-time }
    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
        code: { type: string }
    V1Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: |
            Stable machine-readable code. One of:
            `bad_request`, `validation_failed`, `unauthorized`,
            `forbidden`, `not_found`, `conflict`, `payload_too_large`,
            `rate_limited`, `internal_error`, `upstream_unavailable`,
            `upstream_timeout`.
          example: not_found
        message:
          type: string
          description: Human-readable message. Safe to display to end users.
          example: The requested memory was not found.
    V1MemoryScope:
      type: string
      enum: [session, arc, trait, fact]
    V1RetentionPolicy:
      type: string
      enum: [ephemeral, short_term, long_term, permanent]
    V1Pagination:
      type: object
      required: [limit, offset, total]
      properties:
        limit: { type: integer, minimum: 1, maximum: 100 }
        offset: { type: integer, minimum: 0 }
        total: { type: integer, minimum: 0 }
    V1PublicMemory:
      type: object
      description: |
        The public v1 memory record. This is a strict subset of the
        internal `UnifiedMemory` type — internal fields (e.g. `vectorId`,
        `emotionalContext`, `empathyMetrics`, `bankId`, `sourceService`)
        are deliberately omitted.
      additionalProperties: false
      required:
        - id
        - content
        - scope
        - retention
        - category
        - tags
        - version
        - importance
        - createdAt
        - updatedAt
      properties:
        id: { type: string, format: uuid }
        content: { type: string, minLength: 1, maxLength: 64000 }
        scope: { $ref: '#/components/schemas/V1MemoryScope' }
        retention: { $ref: '#/components/schemas/V1RetentionPolicy' }
        category: { type: string, minLength: 1, maxLength: 64 }
        tags:
          type: array
          maxItems: 64
          items: { type: string, minLength: 1, maxLength: 64 }
        version: { type: integer, minimum: 0 }
        importance: { type: number, minimum: 0, maximum: 1 }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time, nullable: true }
    V1CreateMemoryRequest:
      type: object
      additionalProperties: false
      required: [content]
      properties:
        content: { type: string, minLength: 1, maxLength: 64000 }
        scope: { $ref: '#/components/schemas/V1MemoryScope' }
        retention: { $ref: '#/components/schemas/V1RetentionPolicy' }
        category: { type: string, minLength: 1, maxLength: 64 }
        tags:
          type: array
          maxItems: 64
          items: { type: string, minLength: 1, maxLength: 64 }
        importance: { type: number, minimum: 0, maximum: 1 }
    V1UpdateMemoryRequest:
      type: object
      additionalProperties: false
      required: [content]
      properties:
        content: { type: string, minLength: 1, maxLength: 64000 }
        scope: { $ref: '#/components/schemas/V1MemoryScope' }
        retention: { $ref: '#/components/schemas/V1RetentionPolicy' }
        category: { type: string, minLength: 1, maxLength: 64 }
        tags:
          type: array
          maxItems: 64
          items: { type: string, minLength: 1, maxLength: 64 }
        importance: { type: number, minimum: 0, maximum: 1 }
    V1SearchMemoryRequest:
      type: object
      additionalProperties: false
      required: [query]
      properties:
        query: { type: string, minLength: 1, maxLength: 1000 }
        limit: { type: integer, minimum: 1, maximum: 100, default: 10 }
        offset: { type: integer, minimum: 0, default: 0 }
    V1ListMemoriesResponse:
      type: object
      additionalProperties: false
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/V1PublicMemory' }
        pagination: { $ref: '#/components/schemas/V1Pagination' }
    V1CreateMemoryResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/V1PublicMemory' }
    V1GetMemoryResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/V1PublicMemory' }
    V1UpdateMemoryResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/V1PublicMemory' }
    V1DeleteMemoryResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [id]
          properties:
            id: { type: string, format: uuid }
    V1SearchMemoriesResponse:
      type: object
      additionalProperties: false
      required: [data, query, pagination]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/V1PublicMemory' }
        query: { type: string }
        pagination: { $ref: '#/components/schemas/V1Pagination' }
    FineTuningJob:
      type: object
      properties:
        id: { type: string, example: 'job-1718200000000-abc123' }
        model: { type: string, example: 'gpt-4o-mini-2024-07-18' }
        backend:
          type: string
          enum: [openai, huggingface, local, dry-run]
          example: openai
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled]
          example: running
        progress:
          type: number
          minimum: 0
          maximum: 100
          example: 45
          description: 'Training progress percentage (0-100)'
        nEpochs: { type: integer, example: 3 }
        batchSize: { type: integer, example: 4, nullable: true }
        learningRateMultiplier: { type: number, example: 1.0, nullable: true }
        suffix: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time, nullable: true }
    SubmitTrainingJobRequest:
      type: object
      required: [model, backend]
      properties:
        model:
          type: string
          description: 'Base model to fine-tune'
          example: 'gpt-4o-mini-2024-07-18'
        backend:
          type: string
          enum: [openai, huggingface, local, dry-run]
          example: openai
        nEpochs:
          type: integer
          default: 3
          minimum: 1
          maximum: 100
        batchSize:
          type: integer
          minimum: 1
        learningRateMultiplier:
          type: number
          minimum: 0.01
          maximum: 10
        suffix:
          type: string
          description: 'Suffix for the fine-tuned model name'
        openaiDatasetPath:
          type: string
          description: 'Path to dataset for OpenAI backend'
        huggingfaceDatasetPath:
          type: string
          description: 'Path to dataset for HuggingFace backend'
        hfRepoId:
          type: string
          description: 'HuggingFace repository ID (e.g. username/model-name)'
        hfFramework:
          type: string
          enum: [autotrain, trl, unsloth]
          description: 'HuggingFace training framework'
        localScript:
          type: string
          description: 'Path to local training script for Local backend'
        localGpuDevice:
          type: integer
          description: 'GPU device ID for Local backend'
    TrainingSession:
      type: object
      properties:
        id: { type: string, example: 'sess-1718200000000-xyz789' }
        clientProfile: { $ref: '#/components/schemas/ClientProfile' }
        difficultyLevel:
          type: integer
          minimum: 1
          maximum: 5
          example: 3
        status:
          type: string
          enum: [active, paused, ended]
          example: active
        traineeId: { type: string, format: uuid, nullable: true }
        supervisorId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time, nullable: true }
    ClientProfile:
      type: object
      required: [name, presentingProblem]
      properties:
        name: { type: string, example: 'Alex' }
        age: { type: integer, example: 34, minimum: 0, maximum: 120 }
        gender: { type: string, example: 'non-binary' }
        personalityType: { type: string, example: 'INTJ' }
        presentingProblem:
          type: string
          example: 'Moderate social anxiety in workplace settings'
        triggers:
          type: array
          items: { type: string }
          example: ['team meetings', 'performance reviews']
        strengths:
          type: array
          items: { type: string }
          example: ['self-awareness', 'willingness to engage']
    CreateTrainingSessionRequest:
      type: object
      required: [clientProfile]
      properties:
        clientProfile: { $ref: '#/components/schemas/ClientProfile' }
        difficultyLevel:
          type: integer
          default: 1
          minimum: 1
          maximum: 5
        traineeId:
          type: string
          format: uuid
        supervisorId:
          type: string
          format: uuid
  responses:
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Authentication failed or missing
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Authenticated user lacks necessary permissions
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    V1BadRequest:
      description: |
        The request was invalid. The stable `error` code is one of
        `bad_request` (malformed body) or `validation_failed` (failed the
        Zod schema). Consumers should switch on `error`, not on
        `message`.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/V1Error' }
    V1Unauthorized:
      description: Authentication is required.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/V1Error' }
    V1NotFound:
      description:
        The requested memory was not found or is not visible to the caller.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/V1Error' }
tags:
  - name: User
    description: User profile and management
  - name: Content
    description: Content search and discovery
  - name: Admin
    description: Platform administration
  - name: Authentication
    description:
      Auth0 OAuth 2.0 login, logout, token refresh, and session lookup
  - name: System
    description: System health and status
  - name: Bias Analysis
    description: Bias detection and analysis
  - name: Memory
    description: |
      Legacy memory surface (action-named routes such as `/memory/add`,
      `/memory/list`). Not part of the canonical public contract — use
      the `Memory v1` tag for new integrations.
  - name: Memory v1
    description: |
      Canonical v1 public memory API. See
      `docs/api/memory-v1-contract.md` and the Zod schemas at
      `src/lib/memory/contract/v1.ts` for the authoritative contract.
  - name: Developer API Keys
    description: API key management for developers
  - name: Developer Memory
    description: |
      Developer memory API — API key access to the memory surface via
      `/api/v1/developer/memory/*`. Requires `memory:read` and/or
      `memory:write` scopes. Returns `PublicMemory` payloads only (no
      `emotionalContext` or `empathyMetrics`). See ADR
      `docs/architecture/developer-memory-api-v2.md`.
  - name: Training
    description: |
      Clinical training pipeline — fine-tuning job management and
      training session lifecycle. All endpoints require JWT
      authentication (Bearer token). Mutating endpoints
      (POST / DELETE) require admin or therapist role.

      See `training_pipeline_improvements.md` for architecture details.
