# Environment variables
.env
.env.local
.env.*.local

# IDE
.DS_Store
.idea/
.swp
.swo
Thumbs.db
.vscode/

# Logs
*.log
api.log
*.pid

# Python
*.egg-info/
*.py[cod]
*$py.class
.Python
__pycache__/
build/
dist/

# Virtual environments
.env/
env/
.venv/
venv/
